name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Buildozer and dependencies
        run: |
          sudo apt update
          sudo apt install -y python3-pip python3-setuptools git zip unzip openjdk-11-jdk \
                              libncurses5 libstdc++6 libffi-dev libssl-dev
          pip install --upgrade pip
          pip install buildozer cython

      - name: Build APK
        run: |
          cd app/
          buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: my-app-apk
          path: bin/*.apk
